#confirm-user-background{
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#confirm-user-main{
    background-color: var(--table-td-background);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    height: 50%;
}

#confirm-user-close-button{
    border: none;
    background-color: var(--table-td-background);
    cursor: pointer;
    width: 7%;
    margin-left: auto;
    border-radius: 0 16px 0 0;
    padding: 5px 0;
    transition: 0.5s;
}

#confirm-user-close-button:hover{
    background-color: #F44336;
}

#confirm-user-close-button:hover .bi-x-circle{
    color: var(--table-td-background);
}

#confirm-user-titulo{
    color: var(--main-text);
}

/* #confirm-user-container{
    margin-top: 20px;
} */

.confirm-user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.confirm-user-textbold{
    font-weight: bold;
}

#user-confirm-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    margin-bottom: 20px;
}

.reject-button{
    width: 40%;
    height: 50px;
    background-color: #F44336;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.reject-button:hover{
    background-color: #ab2525;
}

.confirm-button{
    width: 40%;
    height: 50px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.confirm-button:hover{
    background-color: #2c702f;
}