.loading-screen{
    background-color: #000000;
    color: #ff0000;
}

#list-background {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100vw;
    z-index: 1;
}


#list-background-titulo {

    text-align: center;
    color: #003DA5;
    font-size: 1.8em;

    display: flex;
    align-items: start;
    justify-content: start;

    margin: 20px;

}

table {
    width: 75vw;
    height: 60vh;
    border-collapse: collapse;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);

}

th,td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    color: #000000;
}

td h2 {

    font-size: 1.1em;
    font-weight: bold;

}

td{
    font-weight: 400;
    font-size: 0.9em;
}

th {
    background-color: #e6e4e4;
    color: #0d0d0d;
    font-weight: bold;
    text-align: left;
}

.th-esquerda{
    border-radius: 16px 0 0 0;
}

.th-direita{
    border-radius: 0 16px 0 0;
}

.td-esquerda{
    border-radius: 0 0 0 16px;
}

.td-direita{
    border-radius: 0 0 16px 0;
}

tr:hover{
    background-color: #cbcbcb;
}

tr:hover .dash-button{
    background-color: #cbcbcb;
}

.dash-div{
    width: 70%;
}

.dash-cargo{
    font-size: 1.2em;
    font-weight: bold;
}

.dash-tipo-local{
    font-size: 1.1em;
}

.dash-area{
    font-size: 1.03em;
}

.dash-total{
    font-size: 1.03em;
    cursor: pointer;
}

.dash-total:hover{
    text-decoration: underline;
    color: #003DA5;
}

.dash-status-aberta{
    background-color: #4CAF50;
    color: #ffffff;
    padding: 2px 2px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-status-encerrada{
    background-color: #F44336;
    color: #ffffff;
    padding: 2px 2px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
}

.bi-info-circle-fill{
    color: black;
    font-size: 25px;
}

.bi-pencil-square{
    color: black;
    font-size: 25px;
}