#component-logout{
    width: 100vw;
    height: 75px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: end;
}

#component-logout-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #e01a1a;
    width: 7%;
    height: 90%;
    border: none;
    border-radius: 9px;
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}

#component-logout-text{
    color: #ffffff;
}

.bi-box-arrow-right{
    font-size: 30px;
    color: #ffffff;
}