#component-back{
    display: flex;
    justify-content: start;
    color: var(--text-color);
    width: 10vw;
    height: 70px;
    border: none;
    margin: 0px;
    cursor: pointer;
    z-index: 1;
}

#component-back-button {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 75%;
    height: 80%;
    margin: 5px 0px 0px 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

#component-back-button:hover {
    background-color: var(--table-td-background-hover);
}

.bi-arrow-left{
    font-size: 30px;
    color: var(--text-color);
}

#component-back-text{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
}