#home-background{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    flex-direction: column;
}

#home-sub-header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    
}

#home-titulo{
    display: flex;
    flex-direction: column;
    color: var(--main-text);
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

#home-titulo-username{
    font-size: 2rem;
    font-weight: bold;
}

#home-opcoes-section{
    display: flex;
}

.home-linkcard{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1em;
    padding: 0px;
}

.home-opcoes{
    background-color: var(--table-td-background); /*#d8d8d8*/
    border-radius: 16px;
    width: 400px;
    height: 250px;
    text-align: left;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin: 0px 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.home-opcoes:hover {
    background-color: var(--card-hover);
    /* transform: translateY(-5px); */
    /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7); */
}

.home-card-titulo{
    font-size: 1.3em;
    font-weight: bold;
    color: var(--main-text);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bi-file-earmark-plus, .bi-journal-medical, .bi-person-vcard{
    font-size: 30px;
}

.home-opcoes h3 {
    color: var(--main-text);
    margin-bottom: 15px;
}

.home-opcoes p {
    font-size: 1em;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: justify;
}

.home-conteudo {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
}