#home-background{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    flex-direction: column;
}

#home-titulo{
    display: flex;
    flex-direction: column;
    color: var(--bancobrasil-blue);
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
}

#home-opcoes-section{
    display: flex;
}

.home-linkcard{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1em;;
    padding: 0px;
}

.home-opcoes{
    background-color: var(--table-td-background); /*#d8d8d8*/
    border-radius: 16px;
    width: 350px;
    height: 400px;
    text-align: left;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin: 0px 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.home-opcoes img {

    width: 90%;
    height: 40%;
    border-radius: 12px;
    margin-bottom: 15px;
    /* background-color: #ffffff; */
    padding: 15px;
    object-fit: contain;

    display: flex;
    align-items: center;
    justify-content: center;

}

.home-opcoes:hover {

    transform: translateY(-5px);
    background-color: #fff7c7;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);

}

.home-opcoes h3 {

    color: var(--bancobrasil-blue);
    margin-bottom: 15px;

}

.home-opcoes p {
    font-size: 0.95em;
    color: var(--text-color);
    font-weight: 490;
    margin-bottom: 20px;
    text-align: justify;
}

.home-conteudo {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
}