#perfil-container{
    height: 75px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#perfil-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 85%;
    height: 70%;
    border: none;
    border-radius: 9px;
    
    padding: 0px 10px;
    gap: 10px;
    cursor: pointer;
}

#perfil-text{
    font-size: 1.1em;
}

.bi-person-circle{
    font-size: 25px;
}