.loading-container{
    background-color: rgba(0, 0, 0, 0.8);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    animation: rotation 1s linear infinite;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.bi-arrow-clockwise{
    font-size: 80px;
}

.loading-text{
    color: var(--table-td-background);
    font-size: 1.3em;
}
