* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3 ease;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #f6f6f6;
  --text-color: #242424;
  --main-text: #003DA5;
  --second-text: #FBE304;
  --bancobrasil-yellow: #FBE304;
  --card-hover: #e8e3c7;
  --link-color: #06B8F3;
  --table-th-background: #E6E4E4;
  --table-td-background: #ffffff;
  --table-td-background-hover: #DCDCDC;
  --theme-button: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"]{
  --background-color: #242424;
  --text-color: #FFFFFF;
  --main-text: #FBE304;
  --second-text: #003399; /*#003399*/
  --bancobrasil-yellow: #FFCC00;
  --card-hover: #102156;
  --link-color: #CCEC00;
  --table-th-background: #565656;
  --table-td-background: #323232;
  --table-td-background-hover: #525252;
  --theme-button: #FFFFFF;
}