* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3 ease;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #FFFFFF;
  --text-color: #000000;
  --bancobrasil-blue: #003DA5;
  --bancobrasil-yellow: #FBE304;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"]{
  --background-color: #242424;
  --text-color: #FFFFFF;
  --bancobrasil-blue: #003399;
  --bancobrasil-yellow: #FFCC00;
}