#component-header{
    background-color: var(--bancobrasil-yellow);
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
}

#component-header-img{
    height: 100%;
}