#vaga-info-background{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

#vaga-info-main{
    background-color: white;
    width: 75vw;
    height: 60vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#vaga-info-close-button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    width: 7%;
    margin-left: auto;
    border-radius: 0 16px 0 0;
    padding: 5px 0;
    transition: 0.5s;
}

#vaga-info-close-button:hover{
    background-color: #F44336;
}

#vaga-info-close-button:hover .bi-x-circle{
    color: #ffffff;
}

#vaga-info-titulo{
    color: #003DA5;
}

#vaga-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.vaga-info-content{
    color: #000000;
    font-size: 1.3em;
}

#vaga-info-cima{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;   
}

#vaga-info-direita{
    width: 49%;
}

#vaga-info-esquerda{
    width: 49%;
}


#vaga-info-baixo{
    max-width: 90%;
    width: 90%;
}

.vaga-info-fieldset{
    border: 2px solid #003DA5;
    border-radius: 8px;
    padding: 5px;
}

.vaga-info-legend{
    color: #003DA5;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0 10px;
}
