.register-fieldset{
    border-radius: 10px;
    border: 1px solid #003da5;
    color: #003da5;
    width: 30vw;
    margin: 20px 0px;
    padding: 10px;
}

.register-legend{
    padding: 0px 7px 0px 7px;
    margin-right: auto;
}

.register-input{
    border: none;
    font-size: 17px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    color: #242424;
    padding-left: 7px;
}

.register-input:focus-visible{
    border: none;
    outline: none;
}

#register{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    height: 600px;
    width: 80vw;
    border-radius: 30px;

    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.492);
}

#register-titulo{
    color: #003da5;
    font-size: 20px;
}

#register-box-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

#register-switch{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#input-admin{
    display: none;
}

.register-slider{
    width: 40px;
    height: 20px;
    background-color: #acacac;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.register-slider::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

#input-admin:checked + .register-slider{
    background-color: #003da5
}

#input-admin:checked + .register-slider::before{
    transform: translateX(20px);
    background-color: #fbe304;
}

.register-label-text{
    color: #737373;
}

#register-box-imagem{
    display: block;
    background: #242424 url("../../assets/predios.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 75%;
    border-radius: 30px 0px 0px 30px;
}